asgiref==3.7.2
cx_Freeze==6.15.16
cx_Logging==3.2.0
Django==5.0.3
django-ckeditor==6.7.1
django-js-asset==2.2.0
et-xmlfile==1.1.0
lief==0.14.1
mysqlclient==2.2.4
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.1
pillow==10.2.0
pip==22.3
python-dateutil==2.9.0.post0
pytz==2024.1
setuptools==65.5.0
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
wheel==0.43.0
